/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.user_info{
	float: right;
}

.height_1{
	height: 135px;
}

.height_1 img{
	height: 80px;
}

.height_2{
	height: 185px;
}

.height_2 img{
	height: 80px;
}

.height_3{
	height: 275px;
}

.height_3 img{
	height: 80px;
}

.each_event:after, .each_event:before{
	content: "";
	float: left;
}

.display_content{
	width: 100%;
}

.line{
	background-color: #D8D8D8;
	height: 1px;
}

.show_tiles{
	margin-top: 50px;
}